.git
.github
.vscode
.venv
venv
__pycache__
.pytest_cache
.ruff_cache
*.py[cod]
*.log
.env
backup
config
logs
src/.venv
src/downloads
src/logs
src/server/config
src/server/cookies
src/server/venv
src/api.py
