[Unit]
Description=Restrict Fishie downloader outbound access
Before=docker.service
After=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/nft -f /etc/fishie-download-egress.nft
ExecReload=/usr/sbin/nft -f /etc/fishie-download-egress.nft
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
